PORT=3000
JWT_SECRET=supersecret
DATABASE_URL=postgresql://admin:secret@localhost:5432/stockmanager?schema=public
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=stockmanager
ADMIN_PASSWORD=admin123
MANAGER_PASSWORD=manager123
VIEWER_PASSWORD=viewer123
