# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=stockmanager

# Backend Config
PORT=3000
DATABASE_URL=postgresql://admin:secret@db:5432/stockmanager?schema=public
JWT_SECRET=supersecret

# Frontend Config
VITE_API_URL=http://localhost:3000/api/v1
